In [1]:
import mysql.connector
from datetime import date
import asyncio
import random
from time import sleep

Questões:
1) Insira 3 registros para cada tabela criada. ✅

2) Encontre todas as novelas que tenham o valor do horário de exibição vazio. ✅

3) Selecione o nome de todos os atores que morem em cidades que comecem com a letra “M”. ✅

4) Selecione todos os campos da tabela tbPersonagem ordenados por nome em ordem crescente. ✅

5) Selecione quantos capítulos existem por novela, retorne o nome da novela e a quantidade de capítulos para a novela. ✅

6) Encontre o nome de todas as novelas que tem mais de 40 capítulos. ✅

### INSERT

In [2]:
con = mysql.connector.connect(
    user='root',
    password='Raulaquino@2011',
    host='localhost',
    database='trainee'
)

1) Insira 3 registros para cada tabela criada. ✅

In [3]:
add_novela = ("INSERT INTO tbNovela "
               "(codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) "
               "VALUES (%s, %s, %s, %s, %s)")

add_novela_problem = ("INSERT INTO tbNovela "
               "(codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo) "
               "VALUES (%s, %s, %s, %s)")

data_novela_1 = (1, 'Mulheres apaixonadas', date(2003, 2, 17), date(2003, 10, 11), '20:00') #203 cap
data_novela_2 = (2, 'Mulheres de Areia', date(1993, 2, 1), date(1993, 9, 25), '18:00') #201 cap
data_novela_3 = (3, 'Chocolate com Pimenta', date(2003, 9, 8), date(2004, 5, 7)) #209 cap

In [4]:
add_ator = ("INSERT INTO tbAtor "
               "(codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator) "
               "VALUES (%s, %s, %s, %s, %s, %s)")

data_ator_1 = (1, 'Monalisa Sousa', 22, 'Londres', 24000.00, 'F')
data_ator_2 = (2, 'Nityananda Barbosa', 22, 'Maranguape', 10000.00, 'M')
data_ator_3 = (3, 'Joshuel Nobre', 22, 'Maranguape', 8500.00, 'M')

In [5]:
add_personagem = ("INSERT INTO tbPersonagem "
               "(codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator) "
               "VALUES (%s, %s, %s, %s, %s)")

data_personagem_1 = (1, 'Joana', 27, 'rico', 1)
data_personagem_2 = (2, 'Daniel', 29, 'pobre', 2)
data_personagem_3 = (3, 'Marcos', 25, 'rico', 3)

In [6]:
add_novela_personagem = ("INSERT INTO tbNovelaPersonagem "
               "(codigo_personagem, codigo_novela) "
               "VALUES (%s, %s)")

data_novela_personagem_1 = (1,1)
data_novela_personagem_2 = (2,2)
data_novela_personagem_3 = (3,3)

In [7]:
add_capitulo = ("INSERT INTO tbCapitulo "
               "(nome_capitulo, data_exibicao_capitulo, codigo_novela) "
               "VALUES (%s, %s, %s)")

In [8]:
# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) 
# VALUES (1, 'Mulheres apaixonadas', '2003-2-17', '2003-10-11', '20:00');

# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) 
# VALUES (2, 'Mulheres de Areia', '1993-2-1', '1993-9-25', '18:00');

# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo) 
# VALUES (3, 'Chocolate com Pimenta', '2003-9-8', '2004-5-7');

cursor = con.cursor()

cursor.execute(add_novela, data_novela_1)
cursor.execute(add_novela, data_novela_2)
cursor.execute(add_novela_problem, data_novela_3)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [9]:
# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (1, 'Monalisa Sousa', 22, 'Londres', 24000.00, 'F')

# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (2, 'Nityananda Barbosa', 22, 'Maranguape', 10000.00, 'M')

# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (3, 'Joshuel Nobre', 22, 'Maranguape', 8500.00, 'M')

cursor = con.cursor()

cursor.execute(add_ator, data_ator_1)
cursor.execute(add_ator, data_ator_2)
cursor.execute(add_ator, data_ator_3)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [10]:
# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (1, 'Joana', 27, 'rico', 1)

# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (2, 'Daniel', 29, 'pobre', 2)

# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (3, 'Marcos', 25, 'rico', 3)

cursor = con.cursor()

cursor.execute(add_personagem, data_personagem_1)
cursor.execute(add_personagem, data_personagem_2)
cursor.execute(add_personagem, data_personagem_3)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [11]:
cursor = con.cursor()
# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (1, 1)

# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (2, 2)

# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (3, 3)

cursor.execute(add_novela_personagem, data_novela_personagem_1)
cursor.execute(add_novela_personagem, data_novela_personagem_2)
cursor.execute(add_novela_personagem, data_novela_personagem_3)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [12]:
months_28 = {2 : 28}
months_30 = {4 : 30, 6 : 30, 9 : 30, 11 : 30}
months_31 = {1 : 31, 3 : 31, 5 : 31, 7 : 31, 8 : 31, 10 : 31, 12 : 31}
# print(date(1999, 1, 25).weekday())

In [13]:
# add_capitulo = ("INSERT INTO tbCapitulo "
#                "(codigo_capitulo, nome_capitulo, data_exibicao_capitulo) "
#                "VALUES (%s, %s, %s)")
def aux_add(aux, date, novela):
    cursor = con.cursor()
    data_cap = (aux, date, novela)
    cursor.execute(add_capitulo, data_cap)
    novela_no = cursor.lastrowid
    con.commit()
    cursor.close()

def add_cap(name, initial_data, caps, novela):
    day = initial_data.day
    month = initial_data.month
    year = initial_data.year
    ep = 0
    for i in range(caps):
        aux = ''
        ep +=1
        aux = name + '_cap_{}'.format(ep)

        if i == 0:
            aux_add(aux, initial_data, novela)
        else:
            if month in months_28.keys():
                if day < 28:
                    day += 1
                    
                    aux_add(aux, date(year, month, day), novela)

                else:
                    month += 1
                    day = 1

                    aux_add(aux, date(year, month, day), novela)
                    
            elif month in months_30.keys():
                if day < 30:
                    day += 1
                    
                    aux_add(aux, date(year, month, day), novela)
                else:
                    month += 1
                    day = 1     
                    
                    aux_add(aux, date(year, month, day), novela)

            elif month in months_31.keys():
                if day == 31 and month == 12:
                    day = 1
                    month = 1
                    year += 1
                    
                    aux_add(aux, date(year, month, day), novela)

                if day < 31:
                    day += 1
                    
                    aux_add(aux, date(year, month, day), novela)
                else:
                    month += 1
                    day = 1
                    
                    aux_add(aux, date(year, month, day), novela)

def apply_query(query):
    cursor = con.cursor()
    cursor.execute(query)
    myresult = cursor.fetchall()
    # print(myresult)

    chosen_1 = 0
    chosen_2 = 0
    for x in myresult:
        chosen_1 = list(x)[0]
        chosen_2 = list(x)[1]
    return chosen_1, chosen_2

In [14]:
cap_nov_1 = 103
cap_nov_2 = 101
cap_nov_3 = 35

# SELECT codigo_novela FROM tbNovela
# WHERE nome_novela LIKE 'Mulheres apaixonadas'

query_1 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Mulheres apaixonadas%' ")

query_2 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Mulheres de Areia%' ")

query_3 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Chocolate com Pimenta%' ")

chose_1, date_1 = apply_query(query_1)
print(chose_1, date_1)

add_cap('mulheres_apaixonadas', date_1, cap_nov_1, chose_1)

1 2003-02-17

In [15]:
chose_2, date_2 = apply_query(query_2)
print(chose_2, date_2)

add_cap('mulheres_de_areia', date_2, cap_nov_2, chose_2)

2 1993-02-01

In [16]:
chose_3, date_3 = apply_query(query_3)
print(chose_3, date_3)

add_cap('chocolate_com_pimenta', date_3, cap_nov_3, chose_3)

3 2003-09-08

### QUERY

2) Encontre todas as novelas que tenham o valor do horário de exibição vazio. ✅

In [17]:
query_4 = ("SELECT nome_novela, horario_exibicao FROM trainee.tbNovela "
         "WHERE horario_exibicao IS NULL ")

cursor = con.cursor()
cursor.execute(query_4)
myresult = cursor.fetchall()

for x in myresult:
    print(x)

('Chocolate com Pimenta', None)

3) Selecione o nome de todos os atores que morem em cidades que comecem com a letra “M”. ✅

In [18]:
query_5 = ("SELECT nome_ator, cidade_ator FROM trainee.tbAtor "
         "WHERE cidade_ator LIKE '%M%' ")

cursor = con.cursor()
cursor.execute(query_5)
myresult = cursor.fetchall()

for x in myresult:
    print(x)

('Nityananda Barbosa', 'Maranguape')
('Joshuel Nobre', 'Maranguape')

4) Selecione todos os campos da tabela tbPersonagem ordenados por nome em ordem crescente. ✅

In [19]:
query_6 = ("SELECT * FROM trainee.tbPersonagem ")

cursor = con.cursor()
cursor.execute(query_6)
myresult = cursor.fetchall()

names = []
personagens = []
for x in myresult:
#     print(x)
    personagens.append(x)
    names.append(x[1])
    
# print(personagens)
names = sorted(names)
# print(names)

def organize(names, personagens):
    wrongs_index = []
    wrong_values = []
    correct_names = []
    real_idx = []
    copy_personagens = []
    validation = False
    while(validation != True):
        for name, value in zip(names, personagens):
            if name not in value:
                idx = personagens.index(value)
                wrongs_index.append(idx)
                wrong_values.append(value)
                correct_names.append(name)
#                 print('{} O NOME {}'.format(value, name))
                
            else:
                validation = True
                
        for name in correct_names:
            for wrong in wrong_values:
                if name in wrong:
                    real_idx.append(wrong_values.index(wrong))
                 
        for correct in real_idx:
            copy_personagens.append(personagens[correct])
            
        for i in personagens:
            if i not in copy_personagens:
                copy_personagens.append(i)
        
    return copy_personagens
        

organized_values = organize(names, personagens)
print('Personagens organizados em ordem alfabética')
print(organized_values)

Personagens organizados em ordem alfabética
[(2, 'Daniel', 29, 'pobre', 2), (1, 'Joana', 27, 'rico', 1), (3, 'Marcos', 25, 'rico', 3)]

5) Selecione quantos capítulos existem por novela, retorne o nome da novela e a quantidade de capítulos para a novela. ✅

In [20]:
query_7 = ("SELECT N.nome_novela, N.codigo_novela FROM tbNovela AS N "
        "INNER JOIN tbCapitulo as C ON N.codigo_novela = C.codigo_novela")

cursor = con.cursor()
cursor.execute(query_7)
myresult = cursor.fetchall()

current_cod = 1
last_cod = 0
nov_caps = []
aux_count_1 = []
aux_count_2 = []

for x in myresult:
    current_cod = x[1]
    aux_count_1.append(x[1])
    if current_cod != last_cod:
        last_cod = current_cod
        nov_caps.append(x[0])
        aux_count_2.append(x[1])

for i in range(len(aux_count_2)):
    print('A novela {} tem {} capitulos'.format(nov_caps[i], aux_count_1.count(aux_count_2[i])))

A novela Mulheres apaixonadas tem 103 capitulos
A novela Mulheres de Areia tem 101 capitulos
A novela Chocolate com Pimenta tem 35 capitulos

6) Encontre o nome de todas as novelas que tem mais de 40 capítulos. ✅

In [21]:
for i in range(len(aux_count_2)):
    if aux_count_1.count(aux_count_2[i]) >= 40:
        print('A novela {} tem maide de 40 capitulos, com {} capitulos'.format(nov_caps[i], aux_count_1.count(aux_count_2[i])))

A novela Mulheres apaixonadas tem maide de 40 capitulos, com 103 capitulos
A novela Mulheres de Areia tem maide de 40 capitulos, com 101 capitulos