In [1]:
import mysql.connector
from datetime import date

In [2]:
con = mysql.connector.connect(
    user='root',
    password='Raulaquino@2011',
    host='localhost',
    database='trainee'
)

In [3]:
add_novela = ("INSERT INTO tbNovela "
               "(codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) "
               "VALUES (%s, %s, %s, %s, %s)")

add_novela_problem = ("INSERT INTO tbNovela "
               "(codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo) "
               "VALUES (%s, %s, %s, %s)")
caps = [203, 201, 209, 25]
data_novela_1 = (1, 'Mulheres apaixonadas', date(2003, 2, 17), date(2003, 10, 11), '20:00') #203 cap
data_novela_2 = (2, 'Mulheres de Areia', date(1993, 2, 1), date(1993, 9, 25), '18:00') #201 cap
data_novela_3 = (3, 'Chocolate com Pimenta', date(2003, 9, 8), date(2004, 5, 7)) #209 cap
data_novela_4 = (4, 'Grande Sertão: Veredas', date(2017, 12, 18), date(2018, 1, 13),'22:00') #25 cap

In [4]:
add_ator = ("INSERT INTO tbAtor "
               "(codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator) "
               "VALUES (%s, %s, %s, %s, %s, %s)")

data_ator_1 = (1, 'Carlos Brunno', 24, 'Fortaleza', 2400.00, 'M')
data_ator_2 = (2, 'Nityananda Barbosa', 22, 'Maranguape', 10000.00, 'M')
data_ator_3 = (3, 'Joshuel Nobre', 22, 'Maranguape', 8500.00, 'M')
data_ator_4 = (4, 'Monalisa Sousa', 22, 'Londres', 25000.00, 'F')

In [5]:
add_personagem = ("INSERT INTO tbPersonagem "
               "(codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator) "
               "VALUES (%s, %s, %s, %s, %s)")

data_personagem_1 = (1, 'Carlos', 27, 'rico', 1)
data_personagem_2 = (2, 'Daniel', 29, 'pobre', 2)
data_personagem_3 = (3, 'Marcos', 25, 'rico', 3)
data_personagem_4 = (4, 'Joana', 19, 'pobre', 4)

In [6]:
add_novela_personagem = ("INSERT INTO tbNovelaPersonagem "
               "(codigo_personagem, codigo_novela) "
               "VALUES (%s, %s)")

data_novela_personagem_1 = (1,1)
data_novela_personagem_2 = (2,2)
data_novela_personagem_3 = (3,3)
data_novela_personagem_4 = (4,4)

In [7]:
add_capitulo = ("INSERT INTO tbCapitulo "
               "(codigo_capitulo, nome_capitulo, data_exibicao_capitulo, codigo_novela) "
               "VALUES (%s, %s, %s, %s)")

In [8]:
cursor = con.cursor()
# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) 
# VALUES (1, 'Mulheres apaixonadas', '2003-2-17', '2003-10-11', '20:00');

# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo, horario_exibicao) 
# VALUES (2, 'Mulheres de Areia', '1993-2-1', '1993-9-25', '18:00');

# INSERT INTO tbNovela (codigo_novela, nome_novela, data_primeiro_capitulo, data_ultimo_capitulo) 
# VALUES (3, 'Chocolate com Pimenta', '2003-9-8', '2004-5-7');

cursor.execute(add_novela, data_novela_1)
cursor.execute(add_novela, data_novela_2)
cursor.execute(add_novela_problem, data_novela_3)
cursor.execute(add_novela, data_novela_4)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [9]:
cursor = con.cursor()
# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (1, 'Carlos Brunno', 24, 'Fortaleza', 2400.00, 'M')

# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (2, 'Nityananda Barbosa', 22, 'Maranguape', 10000.00, 'M')

# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (3, 'Joshuel Nobre', 22, 'Maranguape', 8500.00, 'M')

# INSERT INTO tbAtor (codigo_ator, nome_ator, idade, cidade_ator, salario_ator, sexo_ator)
# VALUES (4, 'Monalisa Sousa', 22, 'Londres', 25000.00, 'F')

cursor.execute(add_ator, data_ator_1)
cursor.execute(add_ator, data_ator_2)
cursor.execute(add_ator, data_ator_3)
cursor.execute(add_ator, data_ator_4)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [10]:
cursor = con.cursor()
# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (1, 'Carlos', 27, 'rico', 1)

# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (2, 'Daniel', 29, 'pobre', 2)

# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (3, 'Marcos', 25, 'rico', 3)

# INSERT INTO tbPersonagem (codigo_personagem, nome_personagem, idade_personagem, situacao_fnanceira_personagem, codigo_ator)
# VALUES (4, 'Joana', 19, 'pobre', 4)

cursor.execute(add_personagem, data_personagem_1)
cursor.execute(add_personagem, data_personagem_2)
cursor.execute(add_personagem, data_personagem_3)
cursor.execute(add_personagem, data_personagem_4)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [11]:
cursor = con.cursor()
# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (1, 1)

# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (2, 2)

# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (3, 3)

# INSERT INTO tbNovelaPersonagem (codigo_personagem, codigo_novela)
# VALUES (4, 4)

cursor.execute(add_novela_personagem, data_novela_personagem_1)
cursor.execute(add_novela_personagem, data_novela_personagem_2)
cursor.execute(add_novela_personagem, data_novela_personagem_3)
cursor.execute(add_novela_personagem, data_novela_personagem_4)

novela_no = cursor.lastrowid
print(novela_no)

con.commit()
cursor.close()

0

True

In [8]:
weeks = {6: 'domingo'}
months_28 = {2 : 28}
months_30 = {4 : 30, 6 : 30, 9 : 30, 11 : 30}
months_31 = {1 : 31, 3 : 31, 5 : 31, 7 : 31, 8 : 31, 10 : 31, 12 : 31}
# print(date(1999, 1, 25).weekday())

In [11]:
# add_capitulo = ("INSERT INTO tbCapitulo "
#                "(codigo_capitulo, nome_capitulo, data_exibicao_capitulo) "
#                "VALUES (%s, %s, %s)")

def add_cap(name, initial_data, caps, novela, last_id):
    final_id = last_id
    day = initial_data.day
    month = initial_data.month
    year = initial_data.year
#     print('INITIAL: ',year, month, day)
    ep = 0
    for i in range(caps):
        aux = ''
        aux = name + '_cap_{}'.format(ep + 1)
        ep +=1
#         print(aux)
        final_id += 1
#         print('O ID É: {}'.format(final_id))
        if i == 0:
            if initial_data.weekday() in weeks.keys():
                continue
            else:
                cursor = con.cursor()
                data_cap = (final_id, aux, initial_data, novela)
                cursor.execute(add_capitulo, data_cap)
                novela_no = cursor.lastrowid
                con.commit()
                cursor.close()
        else:
            if month in months_28.keys():
#                 print('Ainda é mês com 28 dias')
                if day < 28:
                    day += 1
                else:
                    month += 1
                    day = 1
#                 print(year, month, day)
                if date(year, month, day).weekday() in weeks.keys():
                    continue
                else:
                    cursor = con.cursor()
                    data_cap = (final_id, aux, date(year, month, day), novela)
                    cursor.execute(add_capitulo, data_cap)
                    novela_no = cursor.lastrowid
                    con.commit()
                    cursor.close()
            if month in months_30.keys():
#                 print('Ainda é mês com 30 dias')
                if day < 30:
                    day += 1
                else:
                    month += 1
                    day = 1
#                 print(year, month, day)
                if date(year, month, day).weekday() in weeks.keys():
                    continue
                else:
                    cursor = con.cursor()
                    data_cap = (final_id, aux, date(year, month, day), novela)
                    cursor.execute(add_capitulo, data_cap)
                    novela_no = cursor.lastrowid
                    con.commit()
                    cursor.close()
            if month in months_31.keys():
#                 print('Ainda é mês com 31 dias')
                if day == 31 and month == 12:
                    day = 1
                    month = 1
                    year += 1
                elif day < 31:
                    day += 1
                else:
                    month += 1
                    day = 1
#                 print(year, month, day)
                if date(year, month, day).weekday() in weeks.keys():
                    continue
                else:
                    cursor = con.cursor()
                    data_cap = (final_id, aux, date(year, month, day), novela)
                    cursor.execute(add_capitulo, data_cap)
                    novela_no = cursor.lastrowid
                    con.commit()
                    cursor.close()
        
    return final_id

def apply_query(query):
    cursor = con.cursor()
    cursor.execute(query)
    myresult = cursor.fetchall()
    # print(myresult)

    chosen_1 = 0
    chosen_2 = 0
    for x in myresult:
        chosen_1 = list(x)[0]
        chosen_2 = list(x)[1]
    return chosen_1, chosen_2

In [12]:
cap_nov_1 = 72
cap_nov_2 = 201
cap_nov_3 = 35
cap_nov_4 = 25

# SELECT codigo_novela FROM tbNovela
# WHERE nome_novela LIKE 'Mulheres apaixonadas'

query_1 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Mulheres apaixonadas%' ")

query_2 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Mulheres de Areia%' ")

query_3 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Chocolate com Pimenta%' ")

query_4 = ("SELECT codigo_novela, data_primeiro_capitulo FROM trainee.tbNovela "
         "WHERE nome_novela LIKE 'Grande Sertão: Veredas%' ")

chose_1, data_1 = apply_query(query_1)
print(chose_1, data_1)

last_id = add_cap('mulheres_apaixonadas', data_1, cap_nov_1, chose_1, 0)
print(last_id)

1 2003-02-17
72

In [13]:
chose_2, data_2 = apply_query(query_2)
print(chose_2, data_2)

last_id = add_cap('mulheres_de_areia', data_2, cap_nov_4, chose_2, last_id)
print(last_id)

2 1993-02-01
97